<form [formGroup]="courseForm" (ngSubmit)="submitForm(courseForm.value)">

  <div class="form-group" [ngClass]="{'has-danger': oldPassword.touched && oldPassword.invalid}">
    <label for="oldPassword">Old Password</label>
    <input  type="password" class="form-control" id="oldPassword" formControlName="oldPassword" >
    <div class="text-danger" *ngIf="oldPassword.touched && oldPassword.errors?.required"> Required Field </div>
    <div class="text-danger" *ngIf="oldPassword.touched && oldPassword.errors?.old_password_does_not_match"> Old password is not valid </div>
  </div>
  <div formGroupName="passwords">
    <div class="form-group" [ngClass]="{'has-danger': newPassword.touched && newPassword.invalid}">
      <label for="newPassword">New Password</label>
      <input  type="password" class="form-control" id="newPassword" formControlName="newPassword" >
      <div class="text-danger" *ngIf="newPassword.touched && newPassword.errors?.required"> Required Field </div>
    </div>

    <div class="form-group" [ngClass]="{'has-danger': passwordCheck.touched && passwordCheck.invalid}">
      <label for="passwordCheck">Confirm Password</label>
      <input  type="password" class="form-control" id="passwordCheck" formControlName="passwordCheck" >
      <div class="text-danger" *ngIf="passwordCheck.touched && passwordCheck.errors?.required"> Required Field </div>
      <div class="text-danger" *ngIf="passwordCheck.touched && passwords.errors?.passwords_does_not_match"> The passwords does not match </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="courseForm.invalid">Submit</button>
</form>


